<section class="sidebar">
	<header>
		<a href="{{ site.baseurl }}/" class="profile-pic">
			<img src="{{ site.avatar }}" alt="Daniel Dunderfelt"/>
		</a>
		<h2>
			<a href="{{ site.baseurl }}/">{{ site.name }}</a>
		</h2>
		<p>
			{{ site.description }}
		</p>
		<div class="divider"></div>
	</header>
	<article class="about">
		<p>
			{{ site.introduction }}
		</p>
		<ul>
			<li>
				<p>
					Employed at:<br>
					<a href="http://activearkjwt.com">
						<strong>Activeark JWT, Helsinki</strong>
					</a>
				</p>
			</li>
			<li>
				<p>
					<span data-icon="mail" class="js-icon"></span><br>
					<a href="mailto:dunderfeltdaniel@gmail.com">
						<strong>dunderfeltdaniel@gmail.com</strong>
					</a>
				</p>
			</li>
			<li class="cols">
				<p>
					<span data-icon="twitter" class="js-icon"></span><br>
					<a href="https://twitter.com/ddunderfelt">
						<strong>@ddunderfelt</strong>
					</a>
				</p>
			</li>
			<li class="cols">
				<p>
					<span data-icon="github" class="js-icon"></span><br>
					<a href="https://github.com/danieldunderfelt">
						<strong>danieldunderfelt</strong>
					</a>
				</p>
			</li>
		</ul>
	</article>
	<div class="divider mobile-only"></div>
</section>