<section class="sidebar">
	<header>
		<a href="{{ site.baseurl }}/" class="profile-pic">
			<img src="{{ site.avatar }}" alt="Daniel Dunderfelt"/>
		</a>
		<h2>
			The <a href="{{ site.baseurl }}/">Develop<br>Superpowers</a>
		</h2>
		<h3>blog</h3>
		<p>
			{{ site.description }}
		</p>
		<div class="divider"></div>
	</header>
	<article class="about">
		<p>
			I'm a full-stack, full-time developer from Helsinki.
			React[-native] and node.js are at the core of what I do,
			but I also dabble in Laravel, Wordpress and visual design.
		</p>
		<ul>
			<li>
				<p>
					I work at:<br>
					<a href="http://mirumagency.com">
						<strong>Mirum Agency, Helsinki</strong>
					</a>
				</p>
			</li>
			<li>
				<p>
					<span data-icon="mail" class="js-icon"></span><br>
					<a href="mailto:dunderfeltdaniel@gmail.com">
						<strong>dunderfeltdaniel@gmail.com</strong>
					</a>
				</p>
			</li>
			<li class="cols">
				<p>
					<span data-icon="twitter" class="js-icon"></span><br>
					<a href="https://twitter.com/ddunderfelt">
						<strong>@ddunderfelt</strong>
					</a>
				</p>
			</li>
			<li class="cols">
				<p>
					<span data-icon="github" class="js-icon"></span><br>
					<a href="https://github.com/danieldunderfelt">
						<strong>danieldunderfelt</strong>
					</a>
				</p>
			</li>
		</ul>
	</article>
	<div class="divider mobile-only"></div>
</section>
