.divider-icon {

  &:after {
    content: "§";
    line-height: 0.86em;
    height: 1em;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    font-family: $oldstandard;
    font-size: 3rem;
    color: $grey;
    transform: rotateZ(90deg);
  }
}

.divider {
  width: 100%;
  text-align: center;
  margin: 1rem 0;

  @extend .divider-icon;

  &.alt:after {
    font-size: 1.5em;
  }
}

.js-icon {
  width: 1.3em;
  color: $darkgrey;
}

.hidden {
  display: none !important;
}

.mobile-only {

  @include bp(tablet) {
    display: none;
  }
}

.mobile-hidden {
  display: none;

  @include bp(tablet) {
    display: block;
  }
}

.share {
  margin-top: 1em;
  margin-bottom: 2em;

  h6 {
    margin: 0 0 0.5em;
    text-transform: uppercase;
    font-weight: 400;
  }

  a {
    padding-right: 0.55em;
    margin-right: 0.5em;
    display: inline-block;
    border-right: 1px solid darken($lightgrey, 10%);
    font-size: 0.8em;
    font-weight: 500;

    &:last-child {
      padding: 0;
      margin: 0;
      border: 0;
    }
  }
}

.view-controls {
  margin: 1em 0;
}

button {
  outline: 0;
  background: 0;
  border: 0;
  color: $blue;
}

.code-mode-btn {
  display: inline-block;
  width: auto;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 3px;
  background: $blue;
  color: white;
  font-size: 0.83em;

  &:hover {
    color: white;
    background: darken($blue, 10%);
  }
}
