html {
	background: url('../images/bg.png') no-repeat center bottom;
	background-size: cover;
	min-height: 100%;
}

body {
}

.container {
	@include clear;
	width: 100%;
	padding: 0 1em;

	@include bp(tablet) {
		margin: 50px auto 0;
	}

	@include bp(desktop) {
		width: 980px;
	}
}

.sidebar {
	width: 100%;

	@include r(540px) {
		width: 70%;
		margin: 0 auto;
	}

	@include bp(tablet) {
		width: 35%;
		float: left;
		margin: 0;
		padding: 0 3% 0 0;
	}

	@include bp(desktop) {
		width: 30%;
	}
}

.content-container {
	height: 100%;

	@include bp(tablet) {
		width: 60%;
		float: left;
		padding-left: 4%;
	}

	@include bp(desktop) {
		width: 70%;
		float: left;
		padding-left: 5%;
	}

	h2, p {
		margin-top: 0;
		margin-bottom: 1em;
	}

	.divider {
		margin: 2rem 0;

		@include bp(tablet) {
			margin: 1.5rem 0;
		}

		&.comments-divider {
			margin-top: 3em;
		}
	}
}

.post {

	header {
		margin-bottom: 1.5em;
		text-align: center;

		h1 {
			margin-bottom: 0.2em;
		}

		h3 {
			margin-bottom: 0.3em;
		}

		h5 {
			margin: 0;
			font-weight: 200;
			vertical-align: super;
			display: inline-block;
			color: $grey;
		}
	}

	.read-more {

		.js-icon {
			font-size: 0.5em;
			vertical-align: baseline;
			color: inherit;
		}
	}

	.entry {
		font-size: 1.15em;

		h3 {
			margin: 1.5em 0;
			font-family: $oldstandard;
			font-style: italic;
		}
	}
}

.posts-index {

	> header {
		text-align: center;
		border-bottom: 1px solid rgba(black, 0.2);
		margin-bottom: 2em;

		h2 {
			font-size: 2em;
			margin-bottom: 0.5em;
		}
	}

	.post {

		header {
			text-align: left;

			h3 {
				color: $darkgrey;

				a {
					color: inherit;

					&:hover {
						color: $magenta;
					}
				}
			}
		}
	}
}

.comments {

	* {
		font-weight: 400;

		@include bp(mobile) {
			font-size: 1.1em !important;
		}
	}
}