html {
	background: url('../images/bg.png') no-repeat center bottom;
	background-size: cover;
	min-height: 100%;
}

body {

}

.site-header {

	.container {
		margin: 0 auto;
	}

	nav {
		@include sidebar-width;
		padding-right: 3%;
		border-bottom: 1px solid darken($lightgrey, 10%);

		@include bp(mobile) {
			width: 100%;
		}

		a, span {
			text-align: center;
			height: 100%;
			width: 50%;
			display: inline-block;
			padding: .5em 1em;
		}

		span {
			position: relative;

			@include triangle(down, darken($lightgrey, 10%), before, 25px, 15px) {
				position: absolute;
				bottom: -15px;
				left: 50%;
				transform: translateX(-50%);
			}

			@include triangle(down, white, after, 23px, 13px) {
				position: absolute;
				bottom: -13px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}

.container {
	@include clear;
	width: 100%;
	padding: 0 1em;

	@include bp(tablet) {
		margin: 0 auto;
	}

	@include bp(desktop) {
		width: 980px;
	}
}


.sidebar {
	padding-top: 1.5em;

	@include r(540px) {
		margin: 0 auto;
	}

	@include bp(tablet) {
		float: left;
		margin: 0;
		padding: 1.5em 3% 0 0;
	}

	@include sidebar-width;
}

.content-container {
	height: 100%;
	padding-top: 1.5em;

	@include bp(tablet) {
		width: 60%;
		float: left;
		padding-left: 4%;
	}

	@include bp(desktop) {
		width: 70%;
		padding-left: 5%;
	}

	h2, p {
		margin-top: 0;
		margin-bottom: 1em;
	}

	.divider {
		margin: 2rem 0;

		@include bp(tablet) {
			margin: 1.5rem 0;
		}

		&.comments-divider {
			margin-top: 3em;
		}
	}
}

.post {

	header {
		margin-bottom: 1.5em;
		text-align: center;

		h1 {
			margin-bottom: 0.2em;
		}

		h3 {
			margin-bottom: 0.3em;
		}

		h5 {
			margin: 0;
			font-weight: 200;
			vertical-align: super;
			display: inline-block;
			color: $grey;
		}
	}

	.read-more {

		.js-icon {
			font-size: 0.5em;
			vertical-align: baseline;
			color: inherit;
		}
	}

	.entry {
		font-size: 1.15em;

		h2, h3, h4 {
			margin: 1.5em 0;
			color: $darkgrey;
			font-family: $oldstandard;
			font-style: italic;
			line-height: 1.2em;
		}

		h2 {
			font-size: 1.5em;
		}

		h3 {
			font-size: 1.2em;
		}

		h4 {
			font-size: 0.8em;
		}
	}
}

.posts-index {

	> header {
		text-align: center;
		margin-bottom: 2em;

		h2 {
			font-size: 2em;
			margin-bottom: 0.5em;
		}
	}

	.post {

		header {
			text-align: left;

			h3 {
				color: $darkgrey;

				a {
					color: inherit;

					&:hover {
						color: $magenta;
					}
				}
			}
		}
	}
}

.comments {

	* {
		font-weight: 400;
	}
}