{% include head.html %}
<body class="reading">
	{% include small_header.html %}
	<div class="container">
		<section class="content-container">
			<article class="post">
				<header>
					<h1>{{ page.title }}</h1>
					<h5>
						Published {{ page.date | date: "%B %e, %Y" }}
					</h5>
					<nav class="view-controls">
						{% if page.code_view %}
							<button type="button" id="code-mode-btn" class="code-mode-btn">Just show me the code</button>
						{% endif %}
					</nav>
				</header>

				<div class="divider"></div>

				<section class="entry">
					{{ content }}
				</section>

				<hr />

				{% include share.html %}

				{% include muut.html %}
			</article>
		</section>
	</div>
</body>

{% include footer.html %}